# //repo.jiffy.ai/repository/dreamer-group/:_authToken=NpmToken.563eba3f-6a3f-3b2c-a988-0b6c05c91ec5
# //repo.jiffy.ai/repository/editors/:_authToken=NpmToken.563eba3f-6a3f-3b2c-a988-0b6c05c91ec5
# @editors:registry=https://repo.jiffy.ai/repository/editors/
registry=https://repo.jiffy.ai/repository/dreamer-group/